$s-screen: 640px
$l-screen: 768px

$font-stack: 'Open Sans', 'Segoe UI', sans-serif

%simple-input
  height: 2rem
  padding: 0rem 0.5rem

  border: 1px solid #aaa
  border-radius: 0

  &:focus
    border-color: #333

%simple-button
  height: 2rem
  width: 100%
  justify-self: center

  border: none
  border-radius: 0
  background-color: #333
  color: #fff

  cursor: pointer

  -webkit-user-select: false

  &:hover
    background-color: #666

    @media (max-width: $s-screen)
      background-color: #333

    &:active
      background-color: #999
