@import ../common/constants
@import ../common/colors

$pager-size: 2.5rem
$canvas-size: 3rem

.link-manager
  padding: 1rem

  &__search
    display: grid
    grid-template-columns: 3fr 1fr
    column-gap: 1rem
    align-items: center

    @media (max-width: $s-screen)
      grid-template-columns: 1fr
      row-gap: 0.5rem

    input
      @include simple-input

    button
      @include simple-button

      @media (max-width: $s-screen)
        width: 50%

  &__space-half
    height: 0.5rem

  &__space-2
    height: 2rem

  &__pager
    display: flex
    justify-content: center
    column-gap: 0.5rem

  &__list
    list-style-type: none
    padding: 0
    margin: 1rem 0

  &__text
    margin: 4rem 0
    text-align: center

.pager-item
  display: grid
  justify-items: center
  align-items: center

  width: $pager-size
  height: $pager-size

  -webkit-user-select: none

  &--selected
    @extend .pager-item

    color: #fff

  &__container
    position: relative
    cursor: pointer

  &__selector
    @include absolute
    top: -0.25rem
    left: -0.25rem

    width: $canvas-size
    height: $canvas-size

    z-index: -1

  &__hover
    @include absolute
    top: -0.25rem
    left: -0.25rem

    width: $canvas-size
    height: $canvas-size

    visibility: hidden
    pointer-events: all

    &:hover
      @media (min-width: $s-screen)
        visibility: visible

    &:active
      visibility: visible

      .outer
        stroke: url(#gradient-hover-black)

      .inner
        visibility: hidden

.link-item
  display: grid
  row-gap: 0.5rem
  align-items: center

  padding: 0.5rem 0
  border-top: 1px solid #aaa

  &:last-child
    border-bottom: 1px solid #aaa

  &__row-1
    display: flex
    align-items: center
    column-gap: 0.5rem

    min-width: 0
    min-height: 1.5rem

  &__row-2
    display: grid
    grid-template-columns: repeat(6, 1fr)
    column-gap: 0.5rem
    row-gap: 0.5rem

    min-height: 1.5rem

    @media (max-width: $s-screen)
      grid-template-columns: repeat(3, 1fr)

  &__row-3
    display: grid
    row-gap: 0.5rem

    border-top: 1px dashed #999
    padding-top: 0.5rem

  &__id
    display: flex
    align-items: center

    min-width: 4rem
    font-size: 0.875rem
    color: #fff
    background-color: #333
    background: $color-black-gradient
    border-radius: 0.25rem

    padding: 0.125rem 0.25rem
    -webkit-user-select: none

    &__icon
      margin-right: 0.25rem

    &__content
      font-weight: bold

  &__full
    overflow-wrap: break-word
    min-width: 0

    color: #333

    &:hover
      color: #999

    &:active
      color: #ccc

  &__info
    grid-column-start: span 3

    display: flex
    justify-content: space-between
    align-items: center

  &__shortened
    display: flex
    align-items: center

    font-family: $font-stack-code
    text-decoration: none
    color: $color-blue-dim

    &:hover
      color: $color-blue

    &:active
      color: $color-blue-light

  &__expire
    display: flex
    align-items: center

  &__copy
    @include simple-button($color-blue, $color-blue-gradient, $color-blue-light-gradient, $color-blue-exlight-gradient)

  &__manage
    @include simple-button($color-purple, $color-purple-gradient, $color-purple-light-gradient, $color-purple-exlight-gradient)

  &__delete
    @include simple-button($color-red, $color-red-gradient, $color-red-light-gradient, $color-red-exlight-gradient)

  &--button
    height: 1.5rem
    border-radius: 0.75rem

  &__update
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 0.5rem

    @media (max-width: $s-screen)
      grid-template-columns: repeat(2, 1fr)
      row-gap: 0.5rem

    &__dest
      @include simple-input

      grid-column-start: span 2

    &__update
      @include simple-button

    &__clean
      @include simple-button

      @media (max-width: $s-screen)
        grid-row-start: 2

.icon-jump-to
  height: 1rem
  width: 1rem
  margin-right: 0.25rem

.icon-expire
  height: 1.25rem
  width: 1.25rem
  margin-left: 0.25rem
