@import '../../colors'

.message-bar
  &__info, &__success, &__error
    padding: 0.5rem
    margin-bottom: 1rem
    border: 1px solid

  &__info
    color: $color-blue
    border-color: $color-blue
    background-color: $color-blue-light

  &__success
    color: $color-green
    border-color: $color-green
    background-color: $color-green-light

  &__error
    color: $color-purple
    border-color: $color-purple
    background-color: $color-purple-light
