@import ../common/constants
@import ../common/colors

.url-shortener
  display: grid
  row-gap: 0.5rem
  align-content: center

  min-height: 60vh
  width: auto
  padding: 1rem

  input
    @include simple-input

  input[readonly]
    cursor: pointer

  &__button
    @include simple-button

    @media (max-width: $s-screen)
      width: 50%

  &__divider
    display: flex
    justify-content: center
    align-items: center

    hr
      width: 80%
      margin: 0.25rem 0

      border: none
      border-top: 1px solid #aaa

  &__with-button
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 0.5rem
    align-items: center

    @media (max-width: $s-screen)
      grid-template-columns: 1fr
      row-gap: 0.5rem

  &__input
    @media (min-width: $s-screen)
      grid-column-start: span 3

  &__expire
    display: grid
    grid-template-columns: repeat(24, 1fr)
    column-gap: 0.5rem
    row-gap: 0.5rem
    align-items: center

    input
      grid-column-start: span 5
      min-width: 0

    @media (max-width: $s-screen)
      grid-template-columns: repeat(6, 1fr)

      input
        grid-column-start: span 2

  &__toggle
    @include simple-button
    grid-column-start: span 6

    @media (max-width: $s-screen)
      grid-column-start: span 3

  &__end-date
    grid-column-start: span 3

    display: grid
    align-items: center
    justify-content: center

    height: 2rem
    border-radius: 0.5rem

    color: #fff
    background-color: $color-purple
    background: $color-purple-gradient

    -webkit-user-select: none

    @media (max-width: $s-screen)
      grid-column-start: span 3
      grid-row-start: 2

  &__duration
    @extend .url-shortener__end-date

    background-color: $color-blue
    background: $color-blue-gradient
