$color-green: #1eb400
$color-green-light: #d2ffc8
$color-green-exlight: #f2fff1
$color-green-gradient: linear-gradient(60deg, #1eb400, #bac700)

$color-purple: #d100e4
$color-purple-light: #f9b6ff
$color-purple-exlight: #fef0ff
$color-purple-gradient: linear-gradient(60deg, #ed2aff, #6e00ec)
$color-purple-light-gradient: linear-gradient(60deg, #f36fff, #aa5fff)
$color-purple-exlight-gradient: linear-gradient(60deg, #f9b9ff, #bf88ff)

$color-blue-dim: #0084ac
$color-blue: #00afe4
$color-blue-light: #bdf0ff
$color-blue-exlight: #ebfbff
$color-blue-gradient: linear-gradient(60deg, #00afe4, #0063e4)
$color-blue-light-gradient: linear-gradient(60deg, #4ed6ff, #509cff)
$color-blue-exlight-gradient: linear-gradient(60deg, #9be8ff, #95c3ff)

$color-red: #d41900
$color-red-light: #ffcac3
$color-red-exlight: #fff6f5
$color-red-gradient: linear-gradient(60deg, #d37800, #d41900)
$color-red-light-gradient: linear-gradient(60deg, #ffaa3a, #ff5039)
$color-red-exlight-gradient: linear-gradient(60deg, #ffbf6c, #ff8474)

$color-black-gradient: linear-gradient(60deg, #333, #666)
$color-gray-gradient: linear-gradient(60deg, #666, #999)
$color-light-gray-gradient: linear-gradient(60deg, #999, #ccc)
