@import colors

$s-screen: 640px
$l-screen: 768px

$font-stack: 'Open Sans', 'Segoe UI', sans-serif
$font-stack-code: 'Cascadia Code', consolas, monospace

@mixin simple-input
  height: 2rem
  padding: 0rem 0.5rem

  border: 1px solid #aaa
  border-radius: 1rem

  &:focus
    border-color: #333

@mixin simple-button($base-color-fallback: #333, $base-color: $color-black-gradient, $hover-color: $color-gray-gradient, $active-color: $color-light-gray-gradient)
  height: 2rem
  width: 100%
  justify-self: end

  border: none
  border-radius: 1rem
  background-color: $base-color
  background: $base-color
  color: #fff

  cursor: pointer
  -webkit-user-select: none

  &:hover
    @media (min-width: $s-screen)
      background-color: #666
      background: $hover-color

    &:active
      background-color: #999
      background: $active-color

@mixin absolute
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
