@import ../../node_modules/normalize.css/normalize
@import ../fonts/open-sans
@import common/constants

body
  font-family: $font-stack
  color: #333

input
  -webkit-appearance: none

  &:focus-visible
    outline: none

.hidden
  visibility: hidden